.svn
.vs
*.ilk
*.obj
*.log

Client2D/Bin/
Client3D/Bin/
Engine/Bin/
GameEngine/Bin/Texture
GameEngine/Bin/libfbxsdk-md.lib
GameEngine/Bin/libfbxsdk-md_Debug.lib
GameEngine/Bin/GameEngine.lib
GameEngine/Bin/GameEngine_Debug.lib
Editor/Bin/

Client2D/BinObj/
Client3D/BinObj/
Engine/BinObj/
GameEngine/BinObj/
Editor/BinObj/

Client2D/BinObj
Client3D/BinObj
Engine/BinObj
GameEngine/BinObj
Editor/BinObj

Client2D/Include/Resource/Mesh/fbxsdk/
Client3D/Include/Resource/Mesh/fbxsdk/
Engine/Include/Resource/Mesh/fbxsdk/
GameEngine/Include/Resource/Mesh/fbxsdk/
Editor/Include/Resource/Mesh/fbxsdk/

./Client2D/Bin/
./Client3D/Bin/
./Engine/Bin/
./GameEngine/Bin/
./Editor/Bin/

./Client2D/BinObj/
./Client3D/BinObj/
./Engine/BinObj/
./GameEngine/BinObj/
./Editor/BinObj/
